body {
  background-color: #000;
  color: #fff;
}

.clearfix{
  clear: both
}

ul, li {
  list-style: none;
}

.disabled {
  pointer-events:none;
}

.header{
  position: absolute;
  bottom: 10px;
  right: 10px;

  img {
    width: 200px;
  }
}
